<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <immers-hud position="top-right" access-role="friends"
                destination-name="My Immer" destination-url="https://myimmer.com/"
                token-catcher="https://myimmer.com/"></immers-hud>
  </body>
</html>
