.immers-info-wrapper, .immers-info-wrapper * {
  box-sizing: content-box;
}

.immers-info-wrapper {
  position: fixed;
  padding: 3px;
  display: flex;
}

.bottom-left .immers-info-wrapper {
  bottom: 10px;
  left: 10px;
}

.top-left .immers-info-wrapper {
  top: 10px;
  left: 10px;
}

.immers-info-container {
  display: inline-flex;
  align-content: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0s linear 0.5s;
}

.open .immers-info-container {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s, visibility 0s;
}


.immers-info-logo {
  width: 32px;
  height: 32px;
  background-image: url('./immers\ logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 50px;
}

.immers-login-container {
  display: flex;
}

.immers-login-container>*:not(:first-child) {
  margin-left: 10px;
}


.immers-login-button {
  border-radius: 0;
  border: 2px solid #5768d5;
  background-color: transparent;
  color: #5768d5;
  font-weight: bold;
  cursor: pointer;
}

.immers-login-button:hover, .immers-info-logo:hover {
  background-color: #f1f3ff;
}

.immers-login-button:active, .immers-info-logo:active {
  background-color: #eaebf1;
  -webkit-box-shadow: inset 0px 0px 5px #b3b7d5;
  -moz-box-shadow: inset 0px 0px 5px #b3b7d5;
  box-shadow: inset 0px 0px 5px #b3b7d5;
  outline: none;
}

.immers-login-input {
  width: 211px;
  border-radius: 0;
  width: 211px;
  border-radius: 0;
  border: 2px solid #999;
}
