:host {
  padding: 3px;
  display: flex;
}

:host([position]) {
  position: fixed;
}

:host([position^=bottom]) {
  bottom: 10px;
}

:host([position^=top]) {
  top: 10px;
}

:host([position$=left]) {
  left: 10px;
}

:host([position$=right]) {
  right: 10px;
}

:host([position$=right]) .immers-info-wrapper {
  flex-direction: row-reverse;
}

:host([position$=left]) .immers-info-wrapper>:first-child {
  margin-right: 10px;
}

:host([position$=right]) .immers-info-wrapper>:first-child {
  margin-left: 10px;
}

.immers-info-wrapper {
  display: flex;
  align-items: flex-end;
}

.immers-info-container {
  display: inline-flex;
  align-content: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0s linear 0.5s;
}

:host([open=true]) .immers-info-container {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s, visibility 0s;
}


.immers-info-logo {
  position: relative;
  top: 4px;
  width: 32px;
  height: 32px;
  background-image: url('../assets/immers logo.png');
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  border-radius: 50px;
}

#login-container, #status-container {
  display: flex;
  align-items: flex-end;
}

#login-container>*:not(:first-child) {
  margin-left: 10px;
}

.immers-input, .immers-button {
  border-radius: 0;
  border: 2px solid;
  background-color: #FFF;
  font-size: 13px;
  padding: 1px 4px;
  box-sizing: border-box;
}

.immers-button {
  border-color: #5768d5;
  color: #5768d5;
  font-weight: bold;
  font-family: monospace;
  text-decoration: none;
  cursor: pointer;
}

.immers-input {
  border-color: #333;
  color: #333;
  padding-top: 1.5px;
  padding-bottom: 1.5px;
}

.input-label {
  font-size: 10px;
}

.immers-login-input {
  width: 211px;
}

.immers-button:hover, .immers-info-logo:hover {
  background-color: #f1f3ffff;
}

.immers-button:active, .immers-info-logo:active {
  background-color: #eaebf1;
  -webkit-box-shadow: inset 0px 0px 5px #b3b7d5ff;
  -moz-box-shadow: inset 0px 0px 5px #b3b7d5ff;
  box-shadow: inset 0px 0px 5px #b3b7d5ff;
  outline: none;
}



#status-container {
  flex-direction: column;
}

#username {
  font-size: 10px;
}


.removed {
  display: none !important;
}

.vertical {
  display: flex;
  flex-direction: column;
}