:host {
  padding: 3px;
  display: flex;
  max-width: 100vw;
  --main-margin: 10px;
  --inner-margin: 10px;
  --handle-input-width: 250px;
}

:host([position]) {
  position: fixed;
}

:host([position^=bottom]) {
  bottom: var(--main-margin);
}

:host([position^=top]) {
  top: var(--main-margin);
}

:host([position$=left]) {
  left: var(--main-margin);
}

:host([position$=right]) {
  right: var(--main-margin);
}

:host([position$=right]) .immers-info-wrapper {
  flex-direction: row-reverse;
}

:host([position$=left]) .immers-info-wrapper>:first-child {
  margin-right: var(--inner-margin);
}

:host([position$=right]) .immers-info-wrapper>:first-child {
  margin-left: var(--inner-margin);
}

.immers-info-wrapper {
  display: flex;
  align-items: flex-end;
}

.immers-info-container {
  display: inline-flex;
  align-content: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0s linear 0.5s;
}

:host([open=true]) .immers-info-container {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s, visibility 0s;
}


.immers-info-logo {
  position: relative;
  top: 4px;
  width: 32px;
  height: 32px;
  background-image: url('../assets/immers logo.png');
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  border-radius: 50px;
  flex-shrink: 0;
}

#notification {
  position: absolute;
  top: -1px;
  right: -1px;
  background-color: #d557d5;
  border-radius: 100%;
  width: 7px;
  height: 7px;
  opacity: 50%;
}

#login-container, #status-container {
  display: flex;
  align-items: flex-end;
  gap: var(--inner-margin);
}

.immers-input, .immers-button {
  line-height: normal;
  border-radius: 0;
  border: 2px solid;
  background-color: #FFF;
  font-size: 13px;
  padding: 1px 4px;
  box-sizing: border-box;
}

.immers-button {
  border-color: #5768d5;
  color: #5768d5;
  font-weight: bold;
  font-family: monospace;
  text-decoration: none;
  cursor: pointer;
}

.immers-input {
  border-color: #333;
  color: #333;
  padding-top: 1.5px;
  padding-bottom: 1.5px;
}

.input-label {
  font-size: 10px;
}

.immers-login-input {
  width: var(--handle-input-width);
}

.immers-login-button::after {
  content: 'Immers Login';
}

.immers-button:hover, .immers-info-logo:hover {
  background-color: #f1f3ffff;
}

.immers-button:active, .immers-info-logo:active {
  background-color: #eaebf1;
  -webkit-box-shadow: inset 0px 0px 5px #b3b7d5ff;
  -moz-box-shadow: inset 0px 0px 5px #b3b7d5ff;
  box-shadow: inset 0px 0px 5px #b3b7d5ff;
  outline: none;
}

#username {
  font-size: 10px;
}


.removed {
  display: none !important;
}

.hidden {
  visibility: hidden;
}

.vertical {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 768px) {
  :host {
    --main-margin: 5px;
    --inner-margin: 5px;
    --handle-input-width: 200px;
  }

  .immers-login-button::after {
    content: 'Login';
  }
}
