<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <immers-hud position="top-right" access-role="friends" allow-storage
                destination-name="My Immer" destination-url="https://localhost:8082/webcomponent.html"
                token-catcher="https://localhost:8082/module.html"></immers-hud>
  </body>
</html>
